{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<a class="d-flex align-items-center text-white text-uppercase px-3" href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_list_products') }}">
    <span class="me-1 fs-4">{{ icons.base('fas fa-heart') }}</span> {{ 'sylius.wishlist.title'|trans }}
</a>
