<div class="container-full bg-gray-200 py-5 mb-5">
    <div class="container">
        <h2 class="Title--decoration fs-1 d-md-none">{{ 'sylius.homepage.latest_product'|trans }}</h2>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="Title--decoration fs-1 d-none d-md-block">{{ 'sylius.homepage.latest_product'|trans }}</h2>
            <div class="glide__arrows d-flex text-primary" data-glide-el="controls" data-relocate-arrows-target="latest-products">
                <i class="Icon-arrow-left fs-2" data-glide-dir="<"></i>
                <div class="glide__bullets mx-4 d-flex align-items-center" data-glide-el="controls[nav]" data-relocate-bullets-target ="latest-products">
                    {% for product in products %}
                        <span class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></span>
                    {% endfor %}
                </div>
                <i class="Icon-arrow-right  fs-2" data-glide-dir=">"></i>
            </div>
        </div>
        <div class="glide js-init-slider position-relative" data-slider-ref="carousel-products"
             data-relocate-arrows-trigger="latest-products" data-relocate-bullets-trigger="latest-products">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for product in products %}
                        <li class="glide__slide">
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
