<div class="vm-cart-widget ms-3"
     data-route-cart="{{ path('sylius_shop_cart_summary') }}"
     data-currency="{{ sylius.currencyCode|currency_symbol }}">
    <div class="Loader-block w-6 h-6 rounded-circle"></div>
</div>
