<div class="col mb-3">
    <h3 class="fw-bold fs-4">{{ 'sylius.footer.first_column_title'|trans }}</h3>
    {% for number in 1..3 %}
        <p class="{{ loop.last ? 'mb-4' : 'mb-1' }}">{{ ('sylius.footer.address.part_'~number)|trans }}</p>
    {% endfor %}
    <h4 class="fs-5">{{ 'sylius.footer.follow_us'|trans }}</h4>
    <p>
        <a target="_blank" href="//facebook.com/SyliusEcommerce/" class="me-2"><i class="fab fa-facebook fa-2x"></i></a>
        <a target="_blank" href="//instagram.com/sylius.team/" class="me-2"><i class="fab fa-instagram fa-2x"></i></a>
        <a target="_blank" href="//twitter.com/sylius" class="me-2"><i class="fab fa-twitter fa-2x"></i></a>
    </p>
</div>
